<h1 class="title has-text-centered"><i class="fas fa-subway"></i> Login to your MAKERTRAIN account</h1>

<div class="column is-one-third is-offset-one-third">
  <form class="form" id="login" action="/login" method="post">

      <div class="field">
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <input class="input" type="text" name="username" placeholder="Enter your username">
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <input class="input" type="password" name="password" placeholder="Enter your password">
        </div>
      </div>

      <div class="field">
        <div class="control has-text-centered">
          <input class="button is-link is-medium is-outlined" type="submit" value="Login">
        </div>
      </div>

  </form>

</div>
