<h1 class="title has-text-centered">Create a new Digital Founder account</h1>

<div class="column is-half is-offset-one-quarter">
  <form class="form" id="signup" action="/signup" method="post">

      <div class="field">
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <input class="input" type="text" name="username" placeholder="Enter a username">
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <input class="input" type="email" name="email" placeholder="Enter your email">
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <input class="input" type="password" name="password" placeholder="Enter a password">
        </div>
      </div>

      <div class="field">
        <div class="control has-text-centered">
          <input class="button is-link is-medium is-outlined" type="submit" id="submit-signup" value="Get started">
        </div>
      </div>

  </form>

</div>
