<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <small><strong>Digital Founder</strong> by <a href="https://twitter.com/eyaltoledano">@eyaltoledano</a><br>A <a href="learn.co">Learn.co</a> portfolio project</small>
    </p>
  </div>
</footer>
