<div class="nav">
  <div class="brand">
    <a href="/">Digital Founder</a>
  </div>
  <div>
    <ul class="nav-links">
      <li><a href="/signup">Signup</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</div>
