<section id="home-hero" class="hero is-bold is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1 has-text-weight-bold">All Aboard the Maker Train</h1>
      <div>
        <h2 class="tag has-text-weight-bold is-white is-large has-text-link">Build the next big thing by buying back your time as a freelancer</h2>
        <p class="subtitle">Earn revenue and equity in soon-to-launch products by contributing to them on-demand.</p>
      </div>
      <br>
      <div class="column is-vcentered">
        <a id="signup-hero-btn" class="button is-large is-danger" href="/signup">
          Signup
        </a>
        <a class="button is-medium is-link" href="/login">
          Login
        </a>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="has-text-centered">
    <div class="hero-body container">
      <h2 class="title has-text-weight-bold	">Want to launch a product but need to pay the bills?</h2>
      <h2 class="subtitle is-size-4 has-text-weight-normal	">Earn task rewards for submitting Pull Requests to other founders' products and fund the development of your own MVP.</h2>
    </div>

  </div>

  <div class="columns has-text-centered">

    <div class="column">
      <span class="icon is-large has-text-link">
        <i class="fas fa-3x fa-rocket"></i>
      </span>
      <h3>Launch a product</h3>
    </div>

    <div class="column">
      <span class="icon is-large has-text-link">
        <i class="fas fa-3x fa-atom"></i>
      </span>
      <h3>Plan your first release</h3>
    </div>

    <div class="column">
      <span class="icon is-large has-text-link">
        <i class="fas fa-3x fa-money-bill-alt"></i>
      </span>
      <h3>Contribute & Earn</h3>
    </div>

  </div>
</section>
