<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">A Rising Tide Helps All Makers</h1>
      <h2 class="subtitle">Crowdsource the creation of your MVP</h2>

        <a id="signup-hero-btn" class="button is-medium is-danger" href="/signup">
          Signup
        </a>
        <a class="button is-medium is-light" href="/login">
          Login
        </a>

    </div>
  </div>
</section>
