<section id="home-hero" class="hero is-bold is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1 has-text-weight-bold">A Rising Tide Helps All Makers</h1>
      <div>
        <h2 class=" tag has-text-weight-bold is-white is-large has-text-link">Crowdsource the creation of your MVP</h2>
      </div>
      <br>
      <div class="column is-vcentered">
        <a id="signup-hero-btn" class="button is-large is-danger" href="/signup">
          Signup
        </a>
        <a class="button is-medium is-link" href="/login">
          Login
        </a>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="has-text-centered">
    <div class="hero-body">
      <h2 class="title has-text-weight-bold	">Trying to launch a product but short on time?</h2>
      <h2 class="subtitle has-text-weight-normal	">Build your team, your product and your future all at once.</h2>
    </div>

  </div>

  <div class="columns has-text-centered">

    <div class="column">
      <span class="icon is-large has-text-link">
        <i class="fas fa-3x fa-rocket"></i>
      </span>
      <h3>Launch a product</h3>
    </div>

    <div class="column">
      <span class="icon is-large has-text-link">
        <i class="fas fa-3x fa-atom"></i>
      </span>
      <h3>Plan your first release</h3>
    </div>

    <div class="column">
      <span class="icon is-large has-text-link">
        <i class="fas fa-3x fa-money-bill-alt"></i>
      </span>
      <h3>They build, you reward</h3>
    </div>

  </div>
</section>
